.btn  {
    padding: 13px 17px;

    border-radius: 7px;
    background: rgba(216, 168, 228, 0.59);
    backdrop-filter: blur(22.5px); 

    text-decoration: none;
    text-transform: uppercase;

    
    color: #AD7FB1;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;

}